.theadTr {
  @apply bg-[#ffffffd1] rounded-[10px] text-xs font-semibold h-8;
}
.theadTr > th {
  @apply text-gray relative text-start px-5 
  first:rounded-l-[10px] first:before:hidden
  last:rounded-r-[10px];
}
.theadTr > th::before {
  @apply absolute left-0 h-[13px] w-[1px] top-1/2 bg-[#BEBFE4];
  content: "";
  transform: translate(0, -50%);
}

@media (max-width: 850px) {
}
