.weekSchedule {
  @apply w-full mb-3;
}
.weekSchedule_container {
  @apply bg-[#F8EFFF] overflow-x-auto rounded-[15px];
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
}
.weekSchTable {
  @apply w-full rounded-[15px];

  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
.weekSchTh,
.weekSchTd {
  @apply py-[9px] px-6 border border-[#BEBFE4] text-gray relative
  last:border-r-0
  first:border-l-0 first:text-center;
}
.weekSchTh {
  @apply border-b-[3px] border-t-0 font-semibold;
}

@media (max-width: 1140px) {
  .weekSchTd,
  .weekSchTh {
    @apply px-2;
  }
}
@media (max-width: 770px) {
}
