.contentBody {
  @apply w-4/5 mt-20 ml-auto flex justify-center;
  min-height: calc(100vh - 80px);
}
.contentBodyContainer {
  @apply w-[96.5%] h-full mt-[17px] relative;
  min-height: calc(100vh - 97px);
}
@media (max-width: 1300px) {
  .contentBody {
    width: calc(100% - 105px);
  }
}
@media (max-width: 1060px) {
  .contentBody {
    @apply w-full;
  }
}
@media (max-width: 650px) {
  .contentBodyContainer {
    @apply w-[92.5%];
  }
}
