@tailwind components;
.inputChild {
  @apply h-auto flex flex-col gap-[20px];
}
.inputChild2 {
  @apply h-auto flex flex-col gap-[20px];
}
.inputChild3 {
  @apply h-auto flex  gap-[20px];
}
.deleteImg {
  @apply w-[19px] h-[19px] mt-[2%] cursor-pointer;
}
.dateValidation {
  @apply w-full h-auto flex;
}
.checkbox {
  @apply w-[50%] h-auto flex flex-wrap gap-[8px];
}
.checkboxChild {
  @apply w-full flex gap-[8px];
}
.checkboxText {
  @apply w-[80%];
}
.checkboxText {
  font-weight: 400;
  font-size: 12px;
  color: #6b6b6b;
}
.clickText {
  @apply font-normal text-[10px] text-gray;
}
@layer components {
  .name {
    @apply box-border outline-none bg-white w-[100%] h-10 flex 
    justify-center flex-col items-start pl-[15px] pr-5 gap-[10px] 
    rounded-2xl font-normal text-xs shadow-light;
  }
  .dateInp,
  .textarea {
    @apply shadow-light text-xs;
  }
}
.date {
  @apply flex gap-[7px] w-[250px] justify-center;
}
.dateInp {
  @apply w-[142px] h-[40px] rounded-[15px] text-[#cccccc] py-0 px-[8px];
}
.gic {
  @apply w-[10.89px] h-0 mt-[7%];
  border: 1px solid #cccccc;
}

.textarea {
  @apply h-[124px] rounded-[15px] text-[#cccccc] py-[12px] px-[17px];
  resize: none;
}
.dateInp::-webkit-calendar-picker-indicator {
  background: url("../../../../../assets/teacher_images/personalInfo/calendarIcon.svg")
    no-repeat;
  margin-top: 2px;
}
.buttonContainer {
  @apply flex gap-[10px] h-[40px] items-center;
}
.addText,
.donwloadFile {
  @apply font-normal text-xs text-gray;
}
.sertificat {
  @apply h-auto flex flex-col;
}
.sertificatChild {
  @apply flex text-gray text-sm font-semibold;
  font-weight: 600;
  font-size: 14px;
}
.sertificatChild input::-webkit-file-upload-button {
  visibility: hidden;
}
.sertificatChild input::before {
  @apply w-full h-full inline-block cursor-pointer pb-[10%];
  content: "";
  background: url("../../../../../assets/teacher_images/personalInfo/download.svg")
    no-repeat;
}
.file {
  @apply w-[5%];
}
