.lessonCont {
  @apply flex flex-col gap-7;
}
.firstLesCont {
  @apply rounded-2xl px-[29px] py-[24px] bg-[#F8EFFF];
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.1));
}
.firstLesCont div {
  position: inherit;
}
.lessonContainer {
  @apply flex justify-between mx-auto w-[98%];
}
.lessonContainer1 {
  @apply w-[40%];
}
.LessonCntBody_box {
  @apply flex flex-col gap-5 w-full justify-between;
  height: calc(100% - 36px);
}
.LessonCntBody_boxContent {
  @apply flex flex-col gap-5 justify-between w-full mb-[10px];
}
.nextBtnCont1 {
  @apply flex gap-4 justify-end;
}
.textUnderline {
  @apply text-xs font-semibold relative;
}
.textUnderline::after {
  @apply w-full h-[1px] absolute bg-[red] left-0 bottom-[1.3px] top-auto;
  content: "";
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
}
.hrMain {
  @apply bg-[#BEBFE4] mt-5 h-[400px] w-[1px];
}
.addLessonBtn {
  @apply font-semibold text-xs text-white py-[9px] px-[30px] rounded-2xl w-fit min-w-[193px];
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
}
@media (max-width: 1300px) {
  .lessonContainer1 {
    @apply w-[45%];
  }
  .lessonContainer {
    @apply gap-0;
  }
}
@media (max-width: 830px) {
  .LessonCntBody_box {
    @apply min-w-0;
  }
}
@media (max-width: 700px) {
  .lessonContainer {
    @apply flex-col gap-10;
  }
  .lessonContainer1 {
    @apply w-full;
  }
  .hrMain {
    @apply w-full h-[1px];
  }
}
