.questionsContainer {
  @apply w-full h-auto pb-[100px];
}
.questionsTitle {
  @apply flex h-[150px] justify-center items-center font-bold text-2xl text-[#7a64fa];
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.questionsContainerChild {
  @apply w-[100%] h-auto flex justify-center flex-wrap gap-[30px];
}

/*accordion  */
.accordion {
  @apply w-[80%]  flex justify-center flex-wrap gap-[30px]  rounded-[30px];
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.4);
}
.accordionTitle {
  @apply w-[90%] min-h-[70px] flex items-center  text-xl font-normal text-[#6b6b6b];
}
.toggle {
  @apply w-[90%] h-auto flex justify-between items-center;
}
.accordionChild {
  @apply w-[100%] min-h-[80px] flex flex-col items-center  transition-all  duration-[800ms];
}
.accordionChild:has(.expand-btn:not(:checked)) {
  @apply transition-all duration-[600ms];
}
.accordionChild:has(.expand-btn:checked) {
  @apply h-auto pb-[50px] transition-all duration-[600ms];
}
.text {
  @apply w-[90%] h-auto font-normal text-base text-[#6b6b6b];
}
.accordionChild:has(.expand-btn:not(:checked)) .text {
  @apply hidden;
}
.accordionChild:has(.expand-btn:checked) .text {
  @apply flex h-auto;
}
.expand-btn {
  @apply appearance-none flex justify-center items-center cursor-pointer  text-[#cccccc] text-4xl;
}
.expand-btn::before {
  @apply content-['+'];
}
.expand-btn:checked:before {
  content: "-";
  @apply text-[45px] content-['-'];
}
