.addImgCustom {
  @apply h-[auto];
}
.addImgChild {
  @apply w-[100%] h-[auto] flex gap-[24px];
}
.addImgInp {
  @apply w-[144.47px] h-[144.47px] rounded-[3px] px-[3.74px] py-[3.74px];
  border: 1px solid #bebfe4;
  background-size: cover;
  background-repeat: no-repeat;
}
/* .imgDownload::-webkit-file-upload-button {
  visibility: hidden;
}
::-webkit-file-upload-button {
  visibility: hidden;
} */
.imgDownload {
  @apply w-full h-full;
  font-size: 0;
}
.imgDownload2 {
  @apply w-full h-full;
  font-size: 0;
}
.imgDownload::before {
  @apply w-full h-full inline-block cursor-pointer rounded-[3px]  pb-[10%];
  content: "";
  background: url("../../../../assets//teacher_images/personalInfo/plus.svg")
    no-repeat;
  background-position: 50% 30%;
  border: 1px solid #bebfe4;
  border-style: dashed;
}
.addImgText {
  @apply w-[60%] text-[#6b6b6b] mt-[-60px] mx-auto text-center text-xs font-normal;
}
.infoImg {
  @apply w-[60%] h-[135px] flex justify-center flex-col gap-[13px];
}
.infoName,
.infoTeacher,
.infoMail {
  @apply font-normal text-[#6b6b6b];
}
.infoName {
  @apply text-xl;
}
.infoTeacher,
.infoMail {
  @apply text-sm;
}
.infoMail {
  @apply mt-[15px];
}
