.stageLesPage {
  @apply flex gap-[28px] relative text-[#6B6B6B] mb-3 duration-300;
  position: inherit;
}
.lessonContent {
  @apply bg-[#F8EFFF] w-[69%] h-fit;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
}
.lesCont {
  @apply w-[90%];
  position: inherit;
}
.stagesContainer {
  @apply w-[28%] relative flex flex-col gap-8;
}
.stageLesPage_hr {
  @apply w-full h-[1px] bg-[#BEBFE4];
}
.lesWorkHomeWork_container {
  @apply w-[97%] p-0 gap-10;
}

@media (max-width: 850px) {
  .stageLesPage {
    @apply flex-col;
  }
  .lessonContent,
  .stagesContainer {
    @apply w-full;
  }
}
