.stageLesPage {
  @apply flex gap-[28px] relative text-[#6B6B6B] mb-3 duration-300;
  position: inherit;
}
.lessonContent {
  @apply relative w-[69%] h-fit;
}
.lesCont {
  @apply w-[90%];
  position: inherit;
}
.stagesContainer {
  @apply w-[28%] relative flex flex-col gap-8;
}
.stageLesPage_hr {
  @apply w-full h-[1px] bg-[#BEBFE4];
}
.lesWorkHomeWork_container {
  @apply w-[97%] p-0 gap-10;
}
