/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ---------- Checkbox start ---------- */
#FilterContainer {
  @apply p-[15px] rounded-[10px] absolute right-0 top-[43px] flex flex-col gap-2 z-[1];
  display: none;
}
.checkboxBox {
  letter-spacing: 0.01em;
  color: #657ac5;

  @apply flex items-center gap-3 whitespace-nowrap text-xs;
}
.checkboxContainer {
  display: block;
  position: relative;
  cursor: pointer;
  width: 12px;
  height: 12px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  /* background: #001034; */
  border: 1px solid #657ac5;
}
.checkboxContainer input:checked ~ .checkmark {
  background-color: #001034;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}
.checkboxContainer .checkmark:after {
  left: 4px;
  top: -3.5px;
  width: 4px;
  height: 11px;
  border: 1px solid #657ac5;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ---------- Checkbox end ---------- */

/* -------------------- INPUT TYPE="DATE" STARTS -------------------- */

input[type="date"] {
  position: relative;
  width: 125px;
  height: 40px;
  color: #142a5c;
  background: #142a5c;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  color: #657ac5;
}

input[type="date"]:before {
  position: absolute;
  top: 10px;
  left: 20px;
  content: attr(data-date);
  display: inline-block;
}

input[type="date"]::-webkit-datetime-edit,
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: relative;
  left: -5px;
  width: 110px;
  color: #142a5c;
  height: 0;
}

/* ---------------- INPUT TYPE="DATE" ENDS -------------------- */

/* ----------- Calendar start ---------------- */
#Calendar {
  width: 85%;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: #575757;
  align-items: center;
}
.CalendarMainBody {
  width: 96%;
  height: 100%;
}
.CalendarHead {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.CalendarHeadFirstPart > p {
  color: #657ac5;
  font-size: 12px;
}
.CalendarHeadFirstPart a {
  text-decoration: none;
}
#CalendarHeadSecondPart {
  cursor: pointer;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 30px;
  padding: 7px;
  box-shadow: 0px 0px 8px #80808036;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
#CalendarBody {
  display: flex;
  flex-direction: row;
  /* background: #1a2848; */

  border-radius: 10px;
  box-shadow: 0px 0px 6px #8080801a;
  margin-bottom: 15px;
  height: calc(100% - 82px);

  @apply bg-[#ffffffbf];
}
#CalendarBodyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
.fullHR {
  @apply bg-[#BEBFE4] w-[2px];
}
#choosenDay::after {
  content: attr(data-day);
  border-radius: 50px;
  background-color: #657ac5;
  width: 16px;
  height: 16px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#CalendarEvents {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.CalendarEventOrder {
  border-radius: 5px;
  width: 82%;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 8px;
  color: #ffffff;
}
.CalendarEventOrder:nth-child(1) {
  background: #657ac5;
}
.CalendarEventOrder:nth-child(2) {
  background: #74c472;
}
.CalendarEventOrder:nth-child(3) {
  background: linear-gradient(90.02deg, #7dce8a 0.02%, #4d7cfe 99.98%);
}

#table2 {
  width: 100%;
  border-collapse: collapse;
  height: inherit;
}

#chooseMainDiv {
  display: flex;
  flex-direction: row;
  margin: 0 0 20px;
  height: 100%;
}
.chooseUl {
  height: 100%;
  border-top: 2px solid #657ac5;
  border-right: 2px solid #657ac5;
  width: 90%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chooseLiHead {
  font-weight: 600;
  font-size: 14px;
  color: #657ac5;
  padding: 5px 0;
  font-size: 14px;
  text-align: center;
  border-bottom: 2px solid #657ac5;
}
.LiContentBox {
  height: 57px;
  width: 90%;
  margin: 0 auto;
  background: linear-gradient(90.02deg, #7dce8a 0.02%, #4d7cfe 99.98%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 5px;
}
.CalWeekBox {
  height: auto;
  width: 85%;
  margin: 0 auto;
  background: linear-gradient(90.02deg, #7dce8a 0.02%, #4d7cfe 99.98%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  gap: 5px;
  font-weight: 700;
  font-size: 8px;
  color: #ffffff;
  justify-content: space-around;
}
.CalBoxText {
  height: fit-content;
}
.chooseLiContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 10px;
}
.BorderLeft {
  border-left: 1px solid #657ac5;
}
/* ---------------------------- Calendar end ----------------------------------------- */

/* ---------------------------- MEDIA __STARTS__ ----------------------------------------- */

@media (max-height: 555px) {
  #CalendarBodyContent {
    max-height: 383px;
  }
  #Calendar {
    height: auto;
  }
}
@media (max-width: 1120px) {
  #Calendar,
  .Search {
    width: 90%;
  }
  #logoDiv {
    width: auto;
  }
}
@media (max-width: 955px) {
  #Calendar {
    width: 100%;
  }
  .Menu {
    display: none !important;
  }
  #menuImage {
    display: block;
  }
  .CategoryOptions img {
    width: 20px;
    height: 20px;
  }
  .CategoryOptions {
    gap: 13px;
  }
  .SmallMenuOpt {
    font-size: 20px;
  }
  .SmallMenuA {
    font-size: 30px;
  }
  .SmallMenuLi img {
    width: 25px;
    height: 28px;
  }
}
@media (max-width: 860px) {
  #chooseMainDiv {
    flex-direction: column;
    gap: max(3vw, 16px);
  }
  .chooseUl {
    width: 90%;
    margin: 0 auto;
    border: none;
    gap: max(2.2vw, 12px);
  }
  .chooseLiHead {
    text-align: start;
    border: none;
    font-size: max(3.4vw, 18px);
  }
  .LiContentBox {
    margin: 0;
    width: 100%;
  }
  .chooseLiContent {
    gap: 13px;
  }
  .CalWeekBox {
    width: -webkit-fill-available;
  }
  .CalBoxText {
    font-size: 4vw;
    font-size: clamp(12px, 4vw, 28px);
  }
  .CalWeekBox_img {
    width: 7%;
    height: 50%;
    min-width: 12px;
  }
  #logoDiv {
    justify-content: unset;
  }
  #CalendarBody {
    height: auto;
  }
  #CalendarBodyContainer {
    flex-direction: column;
  }
  #CalendarBody_NumericContainer {
    width: auto;
  }
  #CalendarEvents {
    display: none;
  }
  #CalendarBody_DayContainer {
    width: auto;
    gap: max(3vw, 11px);
  }
  #CalendarBody_DayContainerHead {
    height: 39px;
    align-self: center;
    margin: 0;
  }
  #monthBox {
    width: 255px;
    gap: 17px;
  }
  .CalendarHeadFilterBtn,
  #month {
    font-size: max(3.5vw, 22px);
  }

  #choosenDay::after {
    width: 3.5vw;
    height: 3.5vw;
  }
  .BorderLeft {
    border-left: none;
  }
}
@media (max-width: 600px) {
  #choosenDay::after {
    width: 25px;
    height: 24px;
  }
  #CalendarHeadBox2 {
    height: inherit;
  }
  #monthBox {
    height: fit-content;
    margin: 0 8px;
  }
}
@media (max-width: 420px) {
  #CalendarBody_DayContainerHead {
    flex-wrap: wrap;
    gap: 15px;
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: center;
  }
  #monthBox {
    width: 100%;
  }
}

/* ---------------------------- MEDIA __ENDS__ ----------------------------------------- */

/* ============================================== */
/* ============================================== */
/* ============================================== */
