@tailwind components;
.personalInfo {
  @apply w-full h-auto flex flex-col gap-[57px] pb-[20px];
}
.personalInfoChild {
  @apply w-[80%] flex justify-between  h-auto gap-[80px];
}
.infoChild {
  @apply h-auto flex flex-col gap-[20px];
}
.infoChild2 {
  @apply w-[35%] h-auto flex flex-col gap-[20px];
}
.buttonSave {
  @apply w-[100%] h-auto flex;
}
.buttonSave button {
  @apply bg-gradientPurple w-[193px] h-[34px] rounded-[15px];
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
}
@media screen and (max-width: 924px) {
  .personalInfoChild {
    @apply flex-col;
  }
}
@media screen and (max-width: 600px) {
  .personalInfoChild {
    @apply w-full;
  }
  .dateValidation {
    @apply flex-col gap-[10px];
  }
}
