.content {
  background: url("../../assets/teacher_images//content/vivid-blurred-colorful-background\ 1.svg")
    no-repeat center;
  min-height: calc(100vh - 80px);
  @apply w-full bg-cover;
}
.lessonInp {
  @apply w-full py-3 px-[17px] bg-white rounded-2xl outline-none h-10 text-base;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
}
.lessonInp::placeholder {
  @apply text-[#9C9C9C] text-xs;
}
/* * { */
/* @apply text-gray; */
/* } */

.activeNavItem {
  @apply text-[red];
}
