.walletCont {
  @apply w-[81%] text-[#6B6B6B] flex flex-col mb-3
   /* gap-10 */
   gap-[144px];
}
.walletCont_header {
  @apply flex justify-between;
}
.balanceBox {
  @apply flex flex-col gap-3;
}
.attachedCards_cont {
  @apply flex flex-col gap-5;
}
.attachedCards {
  @apply grid grid-cols-3 gap-[18px];
}
.addCardBox {
  @apply bg-white rounded-[10px] h-[168px] flex justify-center items-center;
}

.table_history {
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.1));
}
.transactionHistory table {
  @apply w-full border-spacing-y-3 border-separate;
}
.transactionHistory tbody {
  @apply border-spacing-y-3 border-separate;
}
.payBtn {
  @apply bg-[#898BCE];
  background-image: none;
}

@media (max-width: 1400px) {
  .walletCont {
    @apply w-[87%];
  }
}
@media (max-width: 1250px) {
  .walletCont {
    @apply w-full;
  }
}
@media (max-width: 825px) {
  .attachedCards {
    @apply grid-cols-2;
  }
}
@media (max-width: 610px) {
  .walletCont_header {
    @apply flex-col gap-5;
  }
  .tariffPlanBox {
    @apply self-end;
  }
  .attachedCards {
    @apply grid-cols-1;
  }
  .table_history {
    @apply overflow-x-auto;
    filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.2));
  }
}
