::-webkit-file-upload-button {
  visibility: hidden;
}
.attachImage {
  @apply text-[#6B6B6B] flex gap-3 items-center;
}
.loadImageInput {
  @apply w-[10px] h-[18px] bg-contain cursor-pointer;
  background: url("../../../../../../images/Teacher/FirstLesson/downloadFile.svg")
    no-repeat;
}
.allowedImageFormat {
  @apply text-xs;
}
