.createGraffic {
  @apply h-[100%] rounded-[15px] py-[26px] px-[37px] bg-[#F8EFFF] mb-3;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
}
.grafficChild {
  @apply w-[100%] flex flex-col gap-[50px];
 
}
.graffics {
  @apply w-[100%] flex flex-col gap-[20px];
}
.grafficsDay {
  @apply text-[#6b6b6b] font-bold text-sm;
}
.time {
  @apply w-[85px] px-[20px] h-[40px] rounded-[15px] text-[#9c9c9c] font-normal text-xs;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
.time::-webkit-calendar-picker-indicator {
  background: none;
}
.grafficInput {
  @apply w-full h-auto flex flex-wrap gap-[20px] items-center;
}
.grafficInputChild {
  @apply w-[300px] h-[80px]  flex flex-wrap;
  column-gap: 15px;
}
.gic {
  @apply w-[8.62px] h-[0px] mt-[10%];
  border: 1px solid #cccccc;
}
.buttonContainer {
  @apply flex gap-[10px];
}
.removeInput {
  @apply w-[50px] h-[40px];
}
.addText {
  @apply text-xs font-normal text-[#6b6b6b];
}
.errorMessageGraffic {
  @apply text-xs h-[20px] text-[red];
}
.save {
  @apply w-[193px] h-[34px] rounded-[15px] font-semibold text-xs text-[#ffffff];
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
}
.form-group {
  height: 40px !important;
}
.componentGraffic {
  @apply w-full;
}
