.mycontainer {
  @apply bg-[#F8EFFF] rounded-[15px];
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
}
.content {
  @apply flex flex-col z-[1] mb-[10px];
}
.lesPage_commentsContainer {
  @apply flex items-center w-[104%] self-center;
}
.lesPage_comment {
  @apply bg-white py-4 px-6 text-sm rounded-[30px] m-[17px] italic;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
}
.keys {
  @apply w-full flex gap-1 flex-wrap;
}
.key {
  @apply py-[6px] px-[7px] rounded-[30px] text-white text-[9px] leading-[11px] font-semibold;
  background: linear-gradient(90deg, #ff4d8d 0%, #ff88b1 94.27%);
}
