@tailwind components;
.modal {
  @apply z-10 w-full h-[100vh] top-0 left-0 fixed bg-[#090e249e];
}
.modalChild {
  @apply absolute bg-[#ffffffe0] w-[50%] h-auto rounded-[15px] top-[100%] left-1/2 py-[25px] px-[30px];
  transform: translate(-50%, -50%);
  top: min(calc(100% - 470px), 50%);
}
.modalTitle {
  @apply h-[40px] text-sm font-semibold text-[#7a64fa];
  border-bottom: 1px solid #bebfe4;
}
.modalInput {
  @apply w-full flex gap-[50px] mt-[30px];
}
.modalInputChild {
  @apply w-[50%] h-auto flex flex-col gap-[20px];
}
.modalInputChild2 {
  @apply w-[40%] h-auto flex flex-col gap-[20px];
}
.modalInpTitle {
  @apply font-semibold text-sm text-gray;
}
.modalInp {
  @apply flex h-[50px] gap-[20px];
}
.dateError {
  @apply text-[red] text-xs top-[25%] absolute;
}
@layer components {
  .modal-inp1 {
    @apply shadow-light w-[217px] h-[40px] text-[#9c9c9c] rounded-[15px];
    padding: 12px 12px 12px 10px;
    background: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 12px;
  }
}
.date {
  @apply flex gap-[7px] w-[250px] justify-center;
}
.dateInp {
  @apply w-[142px] h-[40px] rounded-[15px] text-[#cccccc] py-0 px-[8px] text-xs font-normal;
  @apply shadow-light;
}
.gic {
  @apply w-[10.89px] h-0 mt-[7%];
  border: 1px solid #cccccc;
}
.modalText {
  @apply font-normal text-[10px] text-gray;
}
.modalButton {
  @apply w-[50%] h-[100px] flex items-end gap-[15px];
}
/* modalCard */
.modalCard {
  @apply w-full h-auto flex gap-[15px] flex-col mt-[30px];
  max-height: 40vh;
  overflow-x: auto;
}
.modalCardChild {
  @apply h-[59.39px] rounded-[10px] py-[12px] px-[12px] flex;
  background: white;
}
.firstCardSection {
  @apply w-[80%] flex gap-[10px];
}
.firstCardText {
  @apply flex flex-col gap-[3px];
}
.firstCardText div {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6b6b6b;
}
.secondCardSection {
  @apply w-[20%] flex gap-[10px] items-center justify-around;
}
.secondCardSection div {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #6b6b6b;
}
