.newLessonTitle {
  @apply flex flex-col gap-4 items-start mb-[26px];
}
.lessonTitle {
  @apply font-semibold text-base;
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.underline {
  @apply bg-[#BEBFE4] w-full h-[1px] relative;
}
.purpleUnderline {
  @apply scale-125 w-[14%] h-[2.4px] rounded absolute left-[19px] -top-[1px] right-auto;
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
}

/* @media (max-width: 1060px) {
  .newLessonTitle {
    @apply w-[80%] mx-auto;
  }
} */
