.customSelect {
  @apply relative min-w-[143px] flex flex-col gap-1 w-full cursor-pointer;
}
.options {
  @apply w-full absolute top-11 rounded-2xl bg-slate-50 overflow-hidden z-[2];
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
.optionsContainer {
  @apply max-h-[200px] overflow-y-auto bg-[#ffffff69];
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(3px);
}
.defaultOption {
  @apply w-full flex gap-1 items-center border-[1px] border-white text-ellipsis overflow-hidden py-3 px-[17px] bg-white rounded-2xl;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
.myInput {
  @apply border-none bg-inherit text-base placeholder:text-[#9C9C9C] placeholder:text-xs;
}
.custopSelect_option {
  @apply hover:bg-slate-200 transition-all py-3 px-4 pb-2 text-ellipsis overflow-hidden mx-auto h-11 w-full text-[#9C9C9C] whitespace-nowrap cursor-pointer;
}
.addCategoryInp {
  @apply w-full px-4 py-3 border-[#CCCCCC] border rounded-2xl outline-none h-10;
}
.addImg {
  @apply absolute top-[53%] left-auto right-[13px];
  transform: translate(0, -50%);
}
.errorMessage {
  @apply text-[red] text-center leading-3 whitespace-nowrap;
}
@media (max-width: 800px) {
  .customSelect,
  .defaultOption {
    @apply border-none;
  }
  .options {
    @apply shadow-lg;
  }
  .custopSelect_option {
    @apply hover:bg-[#0085ff80] hover:text-white;
  }
}
