.featureBox {
  @apply flex flex-col items-center gap-3;
}
.featureBox_animImgBox {
  @apply relative w-[150px] h-[150px] flex items-center justify-center duration-500 cursor-pointer;
}
.featureBoxImage1 {
  @apply absolute w-[133px] h-[133px] duration-500 bg-no-repeat bg-contain bg-center;
}
.featureBoxImage2 {
  @apply absolute hover:scale-110 duration-500;
}
.featureBox_animImgBox:hover .featureBoxImage1 {
  animation: rotate360 8s infinite ease-out;
}
.featureBox_animImgBox:hover .featureBoxImage2 {
  animation: rotate360ViceVersa 8s infinite ease-out;
}
.staticImg {
  @apply z-[1];
}
.featureBoxTitle {
  @apply text-[#6B6B6B] text-base;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1000deg);
  }
}
@keyframes rotate360ViceVersa {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1000deg);
  }
}
