/* .students {
} */
.filterSection {
  @apply flex items-center justify-end gap-2;
}
.filterBox {
  @apply cursor-pointer py-[6px] px-3 text-[#9C9C9C] rounded-2xl text-xs h-[28px];
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
/* .tableSection > * {
  @apply rounded-3xl;
} */
.tableSection table {
  @apply w-full border-spacing-y-3 border-separate;
}
.tableSection thead tr {
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.1));
}
.stdTbody {
  @apply border-spacing-y-3 border-separate;
}
