.footerContainer {
  @apply w-full h-auto pb-[60px];
}
.footerTitle {
  @apply flex h-[150px] justify-center items-center font-bold text-2xl text-[#ffffff];
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footerContainerChild {
  @apply w-[80%] h-auto flex justify-between my-0 mx-auto flex-wrap gap-[20px];
}
.footerCard {
  @apply w-[30%] h-auto flex  flex-col justify-center  rounded-[30px];
}
.footerCardChild {
  @apply w-[100%] min-h-[300px] flex flex-col  gap-[20px];
}
.contacts {
  @apply font-normal text-xl mb-[35px] text-[#6b6b6b];
}
.address {
  @apply flex font-normal text-base  text-[#6b6b6b];
}
.footerForm {
  @apply w-[35%] h-auto flex  flex-col justify-center  rounded-[30px] mt-[50px];
}
.footerFormChild {
  @apply w-[100%] min-h-[300px] flex flex-col  gap-[20px] mt-[20px];

  background: url("../news/img/Frame.png") no-repeat;
  background-size: contain;

  background-position-x: right;
  background-position-y: 60%;
}
.connecting {
  @apply flex  h-[100px] items-center font-normal text-xl  text-[#6b6b6b];
}
.addressForm {
  @apply flex  h-auto flex-col justify-evenly gap-[20px];
}
.addressInp {
  @apply w-[100%]  h-[40px]  rounded-[15px] pl-[20px] pr-[20px] outline-none;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
.message {
  @apply w-[100%]  h-[200px]  rounded-[15px] py-[15px] px-[20px] outline-none resize-none;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.send {
  @apply w-[149px]  h-[40px]  rounded-[15px] text-[#ffffff] font-semibold text-sm;
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.icon {
  @apply w-[25px]  h-[25px];
}
@media (max-width: 1200px) {
  .footerContainerChild {
    @apply w-[95%];
  }
}
@media (max-width: 950px) {
  .footerCard {
    @apply w-[45%];
  }
  .footerCardChild {
    @apply justify-center;
  }
  .footerForm {
    @apply w-[70%] mt-0;
  }
  .footerFormChild {
    background-size: auto;
  }
}
@media (max-width: 640px) {
  .footerCard {
    @apply w-[100%];
  }
  .footerContainerChild {
    @apply w-[90%];
  }
  .footerForm {
    @apply w-[95%];
  }
}
