.pagination {
  @apply w-[99%] flex items-center my-[30px] mx-auto;
}
.pagItem {
  @apply relative;
}
.pagLine {
  @apply bg-[#BEBFE4] h-1 w-full;
}
/* .pagNumberBox {
  @apply w-full;
} */
.pagNumber {
  @apply z-[1] cursor-pointer duration-100 flex justify-center items-center w-[13px] h-[13px] bg-[#BEBFE4] text-white text-[8px] font-bold rounded-full absolute top-[50%] left-auto right-0;
  transform: translate(0, -50%);
}
.pagActive {
  @apply text-xs font-bold w-[22px] h-[22px] -right-[6px];
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
}
.pagCompleted {
  @apply w-[13px] h-[13px];
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
}
.pagLineActive {
  @apply h-1 w-full;
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
}
.firstItem {
  @apply left-0 z-[1];
}

@media (max-width: 700px) {
  .pagination {
    @apply hidden;
  }
}
