.opinionContainer {
  @apply w-full h-auto pb-[100px];
}
.opinionTitle {
  @apply flex h-[150px] justify-center items-center font-bold text-2xl text-[#7a64fa];
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.opinionContainerChild {
  @apply w-[100%] h-auto flex justify-center flex-wrap;
}

.studentQuotes {
  @apply w-[50%] min-h-[300px] flex justify-center rounded-[30px] relative p-5;
  background: linear-gradient(
    178.39deg,
    rgba(255, 255, 255, 0.72) -23.65%,
    rgba(255, 255, 255, 0.32) 122.54%
  );
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
}
.studentImg {
  @apply w-[229.89px] h-[252.89px] absolute rounded-[30px] top-[40px] right-[90%];
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}
.studentQuotesChild {
  @apply w-[70%] min-h-[300px] flex flex-col justify-evenly pb-[40px] gap-[10px];
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}
.symbol {
  @apply font-normal text-5xl text-[#6b6b6b];
}

.opinionText {
  @apply font-normal text-base text-[#6b6b6b] italic;
}
@media (max-width: 1200px) {
  .opinionContainerChild {
    @apply justify-end;
  }
  .studentQuotes {
    @apply w-[85%];
  }
}
@media (max-width: 900px) {
  .studentQuotes {
    @apply w-[70%];
  }
}
@media (max-width: 600px) {
  .studentImg {
    @apply w-[200px] h-[200px] right-auto -top-[35%];
  }

  .opinionContainerChild {
    @apply justify-center;
  }
  .opinionContainer {
    @apply pb-[185px];
  }
  .studentQuotes {
    @apply top-[150px];
  }

  .studentQuotesChild {
    @apply w-[100%];
  }
  .studentQuotes {
    @apply w-[100%];
  }
}
