.modal {
  @apply w-full h-[100vh] top-0 left-0 fixed;
  z-index: 10;
  background: #9c9c9c73;
  /* mix-blend-mode: multiply; */
}
.modalChild {
  @apply w-[50%] h-auto rounded-[15px] mt-[80px] my-[200px] mx-auto py-[25px] px-[30px];
  background: #ffffffe0;
}
.modalTitle {
  @apply h-[40px] text-sm font-semibold text-[#7a64fa];

  border-bottom: 1px solid #bebfe4;
}
.modalInput {
  @apply w-full flex gap-[50px] mt-[30px];
}
.modalInputChild {
  @apply w-[50%] h-auto flex flex-col gap-[15px];
}
.modalInputChild2 {
  @apply w-[40%] h-auto flex flex-col gap-[15px];
}
.modalInpTitle {
  @apply font-semibold text-sm text-[#6b6b6b];
}
.modalInp {
  @apply flex h-[50px] gap-[20px];
}
.modal-inp1 {
  @apply w-[217px] h-[40px] text-[#9c9c9c] rounded-[15px];
  padding: 12px 12px 12px 10px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: 400;
  font-size: 12px;
}
.date {
  @apply flex gap-[7px] w-[250px] justify-center;
}
.dateInp {
  @apply w-[142px] h-[40px] rounded-[15px] text-[#cccccc] py-0 px-[8px] text-xs font-normal;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
.gic {
  @apply w-[10.89px] h-0 mt-[7%];
  border: 1px solid #cccccc;
}
.modalCheckbox {
  @apply flex gap-[15px];
}
.modalCheck {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.modalText {
  @apply font-normal text-[10px] text-[#6b6b6b];
}
.modalButton {
  @apply w-[50%] h-[100px] flex items-end gap-[15px];
}
.modalButton > button {
  @apply w-[193px] h-[34px] rounded-[15px] text-[#ffffff] font-semibold text-xs;
  background: #898bce;
}
.modalButton :last-child {
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
  border-radius: 15px;
}
/* modalCard */
.modalCard {
  @apply w-full h-auto flex gap-[15px] flex-col mt-[30px];
}
.modalCardChild {
  @apply h-[59.39px] rounded-[10px] py-[12px] px-[12px] flex;
  background: white;
}
.firstCardSection {
  @apply w-[80%] flex gap-[10px];
}
.firstCardText {
  @apply flex flex-col gap-[3px];
}
.firstCardText div {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6b6b6b;
}
.secondCardSection {
  @apply w-[20%] flex gap-[10px] items-center justify-around;
}
.secondCardSection div {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  /* Filled gray 6B */

  color: #6b6b6b;
}
