.LessonCntBody {
  @apply w-full;
}
.LessonCntBody > form {
  @apply flex gap-[58px];
}
.LessonCntBody_box {
  @apply flex flex-col gap-5 w-[400px] min-w-[320px];
}
.LessonCntBody_box2 {
  @apply w-auto;
}
.lessonInp {
  @apply py-3 px-[17px] bg-white rounded-2xl outline-none h-10;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
.lessonInp::placeholder {
  @apply text-[#9C9C9C] text-xs;
}
.lessonTextarea {
  @apply h-[202px] resize-none;
}
.addLessonBtn {
  @apply font-semibold text-xs text-white py-[9px] px-[30px] rounded-2xl w-fit min-w-[193px];
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
}
.txtWcheckbox {
  @apply flex flex-col gap-[7px];
}
.customCheckbox {
  @apply ml-[10px] cursor-pointer relative border-[#7764FB] border-[0.1px] bg-white w-3 h-3 rounded-[3px];
  @apply after:hidden appearance-none;
}
.customCheckbox:checked:after {
  @apply w-[12px] h-[12px] -top-[0.3px] absolute inline-block visible bg-center bg-no-repeat bg-contain;
  content: "";
  background-image: url("../../../../images/Teacher/NewLesson/accept.svg");
}
.customCheckbox + span {
  @apply text-[10px] text-[#6B6B6B];
}
.timeInp {
  @apply text-[#9C9C9C] text-xs relative w-[85px];
}
.timeInp::-webkit-calendar-picker-indicator {
  @apply w-full h-full absolute left-[10px] cursor-pointer;
  background: none;
}
.timeInp::-webkit-datetime-edit-ampm-field {
  display: none;
}
.timeInp::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
