.loadImageInput {
  @apply w-6 h-[28px] bg-contain cursor-pointer;
  background: url("../../../../images/Teacher/FirstLesson/loadImg.svg")
    no-repeat;
}
.loadImageDiv {
  @apply bg-[#bebfe48f] bg-cover bg-no-repeat bg-center rounded-md pb-[15px] px-7 pt-[21px] flex flex-col gap-2 justify-center items-center;
}
