input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
.customNmbInp {
  @apply relative;
}
.CustomNmbInput {
  @apply w-[85px] flex justify-center;
}
.CustomNmbInput > input {
  @apply w-5 h-full bg-white text-center appearance-none m-0;
}
.arrowLeft,
.arrowRight {
  @apply absolute hover:opacity-75 top-[52%] cursor-pointer;
  transform: translate(0, -50%);
}
.arrowLeft {
  @apply left-[12px];
}
.arrowRight {
  @apply left-auto right-[12px];
  transform: translate(0, -50%) rotate(180deg);
}
.inpNumber {
  @apply leading-[16.5px] text-[#9C9C9C] text-xs;
}
