.lesson {
  @apply px-9 py-[30px] flex flex-col gap-5 rounded-[30px];
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 5px 6px rgb(0 0 0 / 2%);
}
.video {
  @apply w-full h-[162px];
}
.lessonTitle {
  @apply font-bold text-lg text-[#6B6B6B] text-start;
}
.keys {
  @apply w-full flex gap-1 flex-wrap;
}
.key {
  @apply py-1 px-3 rounded-[30px] text-white text-[8px] leading-[11px];
  background: linear-gradient(90deg, #ff4d8d 0%, #ff88b1 94.27%);
}
.lessonDescription {
  @apply w-full text-[#6B6B6B] text-[12px] leading-[13px] text-start;
}
.lessonPrice {
  @apply text-2xl text-[#6B6B6B] font-bold;
}
.seeMoreBtn {
  @apply w-full rounded-2xl text-xs font-semibold text-white py-3 hover:-mt-[2px] hover:mb-[2px] duration-100 hover:shadow-[0px_10px_21px_#00000040];
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
}
