@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
/* ---------------- SCROLL_BAR STARTS ---------------- */
::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background: #caced8;
}
::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #949494;
}
/* ---------------- SCROLL_BAR ENDS ---------------- */

/* --------------- custom checkbox ------------ */
.customCheckbox {
  @apply w-[13px] h-[13px] ml-[10px] cursor-pointer relative border-none bg-white rounded-[4px];
  @apply after:hidden appearance-none;
  background-image: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
}
.customCheckbox:checked:after {
  @apply w-[14px] h-[10px] top-[1px] left-[1px] absolute inline-block visible bg-center bg-no-repeat bg-contain;
  content: "";
  background-image: url("./images/Teacher/NewLesson/acceptPurple.svg");
}
.customCheckbox::before {
  @apply bg-white w-[11px] h-[11px] absolute rounded-[3px] top-[1px] left-[1px];
  content: "";
}
/* --------------- custom checkbox ------------ */

.textPurple {
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
