.editGraffic {
  @apply h-[auto] rounded-[15px] py-[26px] px-[37px];
  background-color: #f7fcff9e;
}
.editGrafficChild {
  @apply w-[100%] h-[auto] flex flex-col flex-wrap justify-between gap-[42px];
  max-height: 400px;
  align-content: flex-start;
}
.grafficContainer {
  @apply min-w-[20%] h-[62px] flex flex-col justify-between;
}
.day {
  @apply font-bold text-sm text-[#6b6b6b];
}
.time {
  @apply flex gap-[5px] text-xs text-[#6b6b6b] font-normal items-center;
}
.gic {
  width: 3.62px;
  height: 0px;
  border: 1px solid #cccccc;
}
