#CalendarBody_DayContainer {
  @apply w-[83%] h-auto flex flex-col items-center;
}
.CaledarHead {
  @apply flex items-center h-[112px] w-full justify-center;
}
#CalendarBody_DayContainerHead {
  @apply flex  gap-[23px] w-[97%] items-center justify-between;
}
#CalendarBody_DayContainerContent {
  @apply w-full;
}

#CalendarHeadBox2 {
  @apply relative;
}
.CalendarHeadFilterBtn {
  @apply border-[1.35px] border-white py-[5px] px-[11px] text-[#9c9c9c] bg-white w-[82px] flex justify-between items-center rounded-[30px] cursor-pointer text-sm gap-2;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
.dayCont_tr > td:first-child {
  @apply border-l-0;
}

@media (max-width: 860px) {
  #CalendarBody_DayContainer {
    @apply w-auto;
    gap: max(3vw, 11px);
  }
  #CalendarBody_DayContainerHead {
    @apply h-[39px] self-center m-0 justify-center relative;
  }
  .CalendarHeadFilterBtn,
  #month {
    font-size: max(3.5vw, 22px);
    @apply w-full;
  }
  .CalendarHeadFilterBtn {
    @apply text-xl;
  }
  .CaledarHead {
    @apply h-auto mt-4;
  }
  #CalendarHeadBox2 {
    @apply absolute top-1/2 left-auto right-0;
    transform: translateY(-50%);
  }
}
