.registration {
  @apply w-auto flex justify-center mt-20;
  background: url("../../images/vivid-blurred-colorful-background.png");
  height: calc(100vh - 80px);
}
.registrationChild {
  @apply w-[100%] h-[100%] flex flex-col justify-center items-center;
}
.registrationTitle {
  @apply text-2xl font-bold;
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.registration-form {
  @apply w-[50%] h-auto flex flex-col justify-center items-center;
}
.form-group-checkbox {
  @apply w-[40%] h-[50px] flex flex-col   mb-[20px];
}
.form-group-checkboxChild {
  @apply w-[100%] flex justify-between;
}
.form-group-checkboxChild2 {
  @apply w-[100%] flex gap-[10px];
}
.form-group-checkbox2 {
  @apply w-[50%] h-[80px] flex flex-col  justify-center  gap-[10px];
}
.form-group-button {
  @apply w-[60%] h-[60px] flex  justify-center  items-center;
}
.btn {
  @apply w-[220px] h-[40px] rounded-[15px] mt-[10px] font-semibold text-base text-[white];
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
}
label {
  @apply flex text-[#6b6b6b] text-xs font-normal;
}
.radio-label {
  @apply flex text-[#6b6b6b] text-base font-normal;
}
.form-check-input {
  @apply w-[16px] h-[16px];
}
input[type="checkbox"] {
  width: 15px !important;
  height: 15px !important;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 3px;
  outline: 1px solid #cccccc;
  background: #ffffff;
}
input[type="checkbox"]:checked {
  outline: 1px solid #7764fb;
}
input[type="checkbox"]:checked:after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 6px;
  width: 9px;
  height: 15px;
  border-right: 3px solid #7764fb;
  border-bottom: 3px solid #7764fb;
  transform: rotate(52deg);
}
input[type="radio"] {
  background-color: #fff;

  border: 0.15em solid #cccccc;
  border-radius: 50%;
}
input[type="radio"]:checked {
  accent-color: #7764fb;
}

.entry {
  @apply w-[100%] h-[60px] flex  justify-center items-center  gap-[10px];
}
.entry p {
  @apply text-xs font-normal text-[#6b6b6b];
}
.entry a {
  @apply text-xs font-normal text-[#f364f3];
  text-decoration: underline;
}
.social {
  @apply h-[80px] flex  justify-center items-center  gap-[15px];
}
.social img {
  width: 32px;
  height: 32px;
}

@media (max-width: 1250px) {
  .registration-form {
    @apply w-[60%];
  }
  .form-group-checkbox {
    @apply w-[60%];
  }
  .form-group-checkbox2 {
    @apply w-[60%];
  }
  .form-group-checkboxChild {
    @apply w-[95%] justify-evenly;
  }
}

@media (max-width: 900px) {
  .registration-form {
    @apply w-[60%];
  }
  .form-group-checkbox {
    @apply w-[55%];
  }
  .form-group-checkbox2 {
    @apply w-[75%];
  }
  .form-group-checkboxChild {
    @apply w-[100%] justify-between;
  }
}
@media (max-width: 760px) {
  .form-group-checkbox2 {
    width: 80%;
  }
}
@media (max-width: 672px) {
  .registration-form {
    @apply w-[80%] mt-[10px];
  }
  .registrationTitle {
    @apply pt-[80px];
    font-size: 20px;
  }
  .radio-label {
    font-size: 14px;
  }
  .form-group {
    @apply h-[50px];
  }
  .btn {
    @apply h-[34px] w-[190px];
  }
}
@media (max-width: 494px) {
  .registration-form {
    @apply w-[95%];
  }
  .form-group-checkbox {
    width: 70%;
  }
}
@media (max-height: 690px) {
  .registration {
    @apply mt-[30px];
    height: calc(100vh - 30px);
  }
}
