.menu {
  @apply bg-white w-[20%] h-full flex items-center justify-between flex-col gap-5 fixed left-0 top-20 text-[#6B6B6B] border border-[#BEBFE4];
}
#menuUl {
  @apply flex flex-col gap-6 mt-9;
}
.menuLi {
  @apply w-auto gap-4 whitespace-nowrap list-none relative;
}
.menuA {
  @apply list-none font-bold text-base decoration-0 w-auto gap-[15px] flex whitespace-nowrap justify-start items-center h-auto;
  text-decoration: none;
}
.menuSpan {
  @apply text-sm text-[#6B6B6B];
}
.activeMenuItem {
  background: linear-gradient(90deg, #7764fb 0%, #f364f3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (max-width: 1300px) {
  .menu {
    /* @apply w-[8%]; */
    @apply w-[100px];
  }
  .menuSpan {
    @apply hidden;
  }
  .menuLi img {
    @apply w-8 h-8;
  }
  .menuA img {
    @apply bg-cover w-8 h-8;
  }
}
@media (max-width: 1060px) {
  .menu {
    @apply hidden;
  }
}
